ul {
  list-style: none;
}

div {
  text-align: center;
}

.w-23 {
  width: 23%;
}

.todoListForm_container {
  background-color: #f2f2f2;
  border-radius: 1em;
}
.emergencyForm_container {
  border-radius: 1em;
  background-color: #d4b8ab;
}
.inprogressive_container {
  border-radius: 1em;
  background-color: #b9c2ac;
}
.test_container {
  border-radius: 1em;
  background-color: #c8c9cb;
}

.todoForm_container {
  border: solid 3px #66b2ff;
  flex: 1 0 0;
  text-align: center;
  padding-top: 3%;
}

.box_container {
  border: solid 3px #00ffff;
  flex: 6 0 0;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
