* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --default-text-color: rgb(0, 0, 0);
}

#root {
  width: 100vw;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.box_container {
  display: flex;
  justify-content: space-around;
}